{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>

        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>



    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">

            <a class="navbar-brand main-heading">

              &nbsp; My Planner

            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>

            </button>


              <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">


                <ul class="navbar-nav ml-auto">


                  &nbsp;     &nbsp;     &nbsp;


                  <li class="nav-link">

                    <a class="nav-link" type="button" href="{% url 'profile' %}">Profile</a>

                  </li>


                  &nbsp;     &nbsp;     &nbsp;


                  <li class="nav-link">

                    <a class="nav-link" type="button" href="{% url 'add_plan' %}">Add plan </a>

                  </li>


                  &nbsp;     &nbsp;     &nbsp;

                   <li class="nav-link">

                    <a class="nav-link" type="button" href="{% url 'my_plans' %}">My Plans </a>

                  </li>


                     &nbsp;     &nbsp;     &nbsp;

                       <li class="nav-link">

                    <a class="nav-link" type="button" href="{% url 'profile_management' %}">Profile Management </a>

                  </li>

                     &nbsp;     &nbsp;     &nbsp;

                         <li class="nav-link">

                    <a class="nav-link" type="button" href="{% url 'logout' %}">Logout </a>

                  </li>


                </ul>


              </div>


    </nav>

    <br>
    <br>


{% block content %}

    {% endblock %}
</html>
